{% extends "App/nav.html" %}

{% block content %}
<style>
  form:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border: 1px solid #000000;
  }
  
  #heading {
    text-align: center;
    margin: 2rem;
    color: rgb(224, 179, 179);
    font-size: 3.2rem;
    background-color: rgb(39, 37, 37);
  }
  
  .form-group {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #a1717f;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  }
  
  button[type="submit"],
  button[type="button"] {
    padding: 0.5em 2em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #3a3636;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 1rem; /* Added margin-top to create space between buttons */
  }

  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #252525;
  }

</style>
<div style="margin-top: 80px;">
  <div class="container">
    <h2 id="heading">Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert">
          {{ form.non_field_errors }}
        </div>
      {% endif %}
      <div class="form-group {% if form.username.errors %}error{% endif %}">
        <label for="id_username">Username</label>
        {{ form.username }}
        {% if form.username.errors %}
          <small>{{ form.username.errors }}</small>
        {% endif %}
      </div>
      <div class="form-group {% if form.email.errors %}error{% endif %}">
        <label for="id_email">Email</label>
        {{ form.email }}
        {% if form.email.errors %}
          <small>{{ form.email.errors }}</small>
        {% endif %}
      </div>
      <div class="form-group {% if form.password.errors %}error{% endif %}">
        <label for="id_password">Password</label>
        {{ form.password }}
        <small>Password must:</small>
        <ul>
          <li>be at least 8 characters long.</li>
          <li>contain at least one capital letter.</li>
          <li>contain at least one digit.</li>
          <li>contain at least one special character.</li>
        </ul>
        {% for error in form.password.errors %}
          {% if error.code == 'min_length' %}
            <small>Password must be at least 8 characters long.</small>
          {% elif error.code == 'password_no_number' %}
            <small>Password must contain at least one digit.</small>
          {% elif error.code == 'password_no_letter' %}
            <small>Password must contain at least one letter.</small>
          {% elif error.code == 'password_no_special_character' %}
            <small>Password must contain at least one special character.</small>
          {% endif %}
        {% endfor %}
      </div>
      <div class="form-group {% if form.confirmpassword.errors %}error{% endif %}">
        <label for="id_confirmpassword">Confirm Password</label>
        {{ form.confirmpassword }}
        {% if form.confirmpassword.errors %}
          <small>{{ form.confirmpassword.errors }}</small>
        {% endif %}
      </div>
      <div class="form-actions">
        <button type="submit">Sign Up</button>
        <a href="{% url 'login' %}">
          <button type="button">Already have an account? Log in</button>
        </a>
      </div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
